{% extends "main.html" %}
{% block content %}
<h3 class='headline'>主题管理:第{{ pg.current }}页/共{{ pg.totlepage }}页({{ pg.frm|add:1 }}-{{ pg.to }}/{{ pg.totle }})</h3>
<table>
<thead>
<tr>
  <th>标题</th>
  <th>分类</th>
  <th>发布者</th>
  <th>操作</th>
  <th>发布时间</th>
</tr>
</thead>
<tbody>
{% for a in articles %}
  <tr class='{% cycle blist,wlist %}'>
  <td>{{ a.title|escape }}</td>
  <td>{{ a.tagname }}</td>
  <td>{% if a.author %}
    {% if not title or iscls %}
      <a href='/userlist/{{ a.author.email }}/#'>{{ a.author.nickname }}</a>
    {% else %}
      {{ a.author.nickname }}
    {% endif %}
  {% endif %}</td>
  <td>
    <a href='/videos/{{ a.keyname }}/'>查看</a>
    <a href='/admin/edit/{{ a.keyname }}/' >编辑</a>
    <a href='/admin/delete/{{ a.keyname }}/'>删除</a>
  </td>
  <td>{{ a.postdate|date:"Y-m-d H:i:s" }}</td>
<!--   <div class='review'>{{ a.abs|escape }}</div> -->
</tr>
{% endfor %}
</tbody>
</table>
<div class='links'>{{ pg.links }}</div>
{% endblock %}