{% extends "main.html" %}
{% block content %}
<h2 >为 <a href='/videos/{{ art.keyname }}/'>{{ art.title }}</a> 添加视频:</h2>
{% if vds %}
<div id='recentvideos'>
已有视频:
<ul>
{% for v in vds %}
<li>
<div class='label'>分标题:</div><div class='value'>{% if v.parttitle %}{{ v.parttitle }}{% else %}no title{% endif %}</div>
<div class='label'>type:</div><div class='value'>{{ v.typ }}</div>
{% if v.vid %}
<div class='label'>vid:</div><div class='value'>{{ v.vid }}</div>
{% else %}
<div class='label'>fileurl:</div><div class='value'>{{ v.fileurl }}</div>
{% endif %}
<div class='deletelink'>
<a href='/delete/usercomment/{{ v.keyname }}/'>清理一下非UP主弹幕</a>
<a href='/delete/comment/{{ v.keyname }}/'>清理一下所有弹幕</a>
<a href='/delete/video/{{ v.keyname }}/'>删除本视频</a>
{% if v.cbk %}
<a href='/addblock/{{ v.keyname }}/'>更新外部xml</a>
<a href='/delete/permanentcomment/{{ v.keyname }}/'>删除外部xml</a>
{% else %}
<a href='/addblock/{{ v.keyname }}/'>导入外部xml</a>
{% endif %}
</div>
</li>
{% endfor %}
</ul>
<div class='clear'></div>
</div>
{% endif %}
<form id='postvideo' method='post' action='/postvideo.php'>

<fieldset>
<legend>添加一个视频:</legend>

<div class='fieldset'>
<label for="parttitle">分标题:</label>
<input type='text' name='parttitle' size='50'/>
</div>

<div class='fieldset'>
<label for="typ">*投稿形式:</label><select name='typ'>
<option value='qq'>qq视频</option>
<option value='sina'>新浪</option>
<option value='video'>文件.flv.mp4...</option>
<option value='youku'>Youku的vid</option>
<option value='6room'>6.cn的vid</option>
<option value='bokecc'>BokeCC的vid</option>
</select>
</div>

<div class='fieldset'>
<label for="fileurl">*vid或url:</label>
<input type='text' name='fileurl' size='50'/>
</div>

</fieldset>

<input type='hidden' name='articleId' value='{{ art.key }}' />

<div id='submit'>
<input type='submit' value='添加' />
</div>

</form>
{% endblock %}
