{% extends "main.html" %}
{% block content %}
{% if title %}<h2>{{ title }}</h2>{% endif %}
<ul>
{% for a in arts %}
<li class='{% cycle wlist,blist,blist,wlist %}'>
<h3 class='headline'><a href='/videos/{{ a.keyname }}/'>{{ a.title|escape }}</a></h3>
{% ifequal user a.author %}{% if edit %}<a href='/addvideo/{{ a.keyname }}/' class='addvideolink'>编辑视频</a>  
<a href='/delete/article/{{ a.keyname }}/' class='deletelink'>删除主题!</a>{% endif %}{% endifequal %}
{% if a.author %}
<span class='author'>{% if not title or iscls %}<a href='/userlist/{{ a.author.email }}/#'>{{ a.author.nickname }}</a>{% else %}{{ a.author.nickname }}{% endif %}</span>{% endif %}
<span class='date'>{{ a.postdate|date:"Y-m-d H:i:s" }}</span>
<span class='classify'>{{ a.tagname }}</span>
<div class='review'>{{ a.abs|escape }}</div>
</li>
{% endfor %}
<div class='clear'></div>
</ul>
{% if iscls %}
	{% if prev %}<a href='/item/{{ cls }}/{{ prev }}/#'>前一页</a>{% endif %}
	{% if next %}<a href='/item/{{ cls }}/{{ next }}/#'>后一页</a>{% endif %}
{% else %}
	{% if author %}
		{% if prev %}<a href='/userlist/{{ author.email }}/{{ prev }}/#'>前一页</a>{% endif %}
		{% if next %}<a href='/userlist/{{ author.email }}/{{ next }}/#'>后一页</a>{% endif %}
	{% else %}
		{% if prev %}<a href='/page/{{ prev }}/#'>前一页</a>{% endif %}
		{% if next %}<a href='/page/{{ next }}/#'>后一页</a>{% endif %}
	{% endif %}
{% endif %}
{% endblock %}