{% extends "main.html" %}
{% block content %}
{% if title %}<h2>{{ title }}</h2>{% endif %}
<ul>
{% for a in arts %}
<li class='{% cycle wlist,blist,blist,wlist %}'>
<h3 class='headline'><a href='/videos/{{ a.keyname }}/'>{{ a.title|escape }}</a></h3>
{% ifequal user a.author %}{% if edit %}<a href='/addvideo/{{ a.keyname }}/' class='addvideolink'>编辑视频</a>  
<a href='/delete/article/{{ a.keyname }}/' class='deletelink'>删除主题!</a>{% endif %}{% endifequal %}
{% if a.author %}
<span class='author'>{% if not title %}<a href='/userlist/{{ a.author.email }}/#'>{{ a.author.nickname }}</a>{% else %}{{ a.author.nickname }}{% endif %}</span>{% endif %}
<span class='date'>{{ a.postdate|date:"Y-m-d H:i:s" }}</span>
<span class='classify'>{{ a.tagname }}</span>
<div class='review'>{{ a.abs|escape }}</div>
</li>
{% endfor %}
</ul>
{% endblock %}