{% extends "main.html" %}
{% block content %}
<h3 id='headline'>{{ art.title|escape }}</h3>
<div id='info'>
  <a href='/#'>主页</a>&gt;
	<span id='classify'>{{ art.tagname }}</span>&gt;
	<span id='date'>{{ art.postdate|date:"Y-m-d H:i:s" }}</span>
	<span id='author'>{{ art.author.nickname }}</span> 投稿
{% if links %}
<select id='partials' onchange='location.href=this.options[this.selectedIndex].value;'>
{% for l in links %}
{# <a href='/videos/{{ art.keyname }}/{{ l.n }}'>{% if l.ptitle %}{{ l.ptitle }}{% else %}{{ l.n }}{% endif %}</a> #}
<option value='/videos/{{ art.keyname }}/{{ l.n }}' {% if l.selected %}selected='selected'{% endif %}>{{ l.n|add:1 }}:{% if l.ptitle %}{{ l.ptitle }}{% else %}{{ l.n|add:1 }}{% endif %}</option>
{% endfor %}
</select>
{% endif %}
</div>
{% if video %}
{# <p>{{ video.parttitle|escape }}</p> #}
<embed src="/mukioplayer.swf" flashvars="id={% if video.vid %}{{ video.vid }}{% else %}{{ video.keyname }}{% endif %}{% ifnotequal video.typ 'video' %}&type={{ video.typ }}{% else %}&file={{ video.fileurl }}{% endifnotequal %}" width="950" height="432" type="application/x-shockwave-flash" quality="high" allowfullscreen="true"></embed>
{% endif %}
<div id='abstract'>{{ art.abs|escape|linebreaks }}<div id='visited'>访问:{{ art.clickstatis }}次</div></div>地址分享:<input type='text' name='outlink' size='65' value='http://{{ host }}/links/{{ art.keyname }}/{{ part }}/mukioplayer.swf' onmouseover='this.select();'/>
<div id='chatfield'></div>
<iframe width="0" height="0" style="visibility:hidden" src="/chatlist/{{ art.keyname }}/" id="chatframe" name="chatframe"></iframe>
{% endblock %}